<div class="row gx-5" style="transform: translateY(-4rem);">
  <div class="col-md-8 text-left">
    <div class="card border-0 mb-4 bg-body">
      <div class="card-body">
        <h5 class="card-title">Good Evening!</h5>
      </div>
    </div>
    <div class="card mb-4">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="https://place-hold.it/500x300" class="img-fluid rounded-start" alt="Alt text">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
          </div>
        </div>
      </div>
    </div>
    <div class="card-group">
      <div class="card">
        <img src="https://place-hold.it/300x500" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
        </div>
      </div>
      <div class="card">
        <img src="https://place-hold.it/300x500" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
          <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
        </div>
      </div>
      <div class="card">
        <img src="https://place-hold.it/300x500" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
          <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4 text-center">
    <div class="card border-0 mb-4 bg-body">
      <div class="card-body">
        <div class="row">
          <div class="col-sm-12">
            <div id="element-pfp" style="margin-top: -5rem;">
              <img src="{{ site.author.image }}" alt="{{ site.title }}" class="circle-image wow animated zoomIn" data-wow-delay=".1s">
            </div>
          </div>
          <div class="col-sm-12" style="margin-top: -1.5rem;">
            <h1 class="site-header">{{ site.title }}</h1>
            <h2 class="site-subheader text-muted">{{ site.subtitle }}</h2>
            <h4 class="site-socialicons">{% include social.html %}</h4>
          </div>
        </div>
        <!-- <p class="text-muted wow animated slideInUp" data-wow-delay=".15s">{{ site.description }}</p> -->
        </div>
      <div class="card-footer text-center">
        <a href="https://www.salesforce.com/trailblazer/gauravchafe" class="card-link">Get in Touch</a>
      </div>
    </div>
    <div class="card border-0 bg-body">
      <div class="card-body p-0">
        <h5 class="card-title mt-4">Trailhead</h5>
        <img src="https://res.cloudinary.com/trailhead/image/upload/public-trailhead/assets/images/ranks/double-star-ranger.png" alt="Trailhead Rank">
        <div class="card-footer text-center">
          <a href="https://www.salesforce.com/trailblazer/gauravchafe" class="card-link">Go to Trailhead</a>
        </div>
      </div>
    </div>
  </div>
</div>