<div class="row gx-5 p-4">
  <div class="col-lg-8 text-left mt-4">

    <!-- Fine Circle Responsive Image -->
    <div id="container" class="my-2">
      <div class="row">
        <div class="col-lg-4">
          <div id="element-pfp">
            <img src="{{ site.author.image }}" alt="{{ site.title }}" class="circle-image wow animated zoomIn" data-wow-delay=".1s">
          </div>
        </div>
        <div class="col-lg-8">
          <h1 class="site-header">{{ site.title }}</h1>
          <h3 class="site-subheader">Salesforce Marketing Cloud Consultant</h3>
          {% include social.html %}
        </div>
      </div>

    </div>

    <p class="text-muted wow animated slideInUp" data-wow-delay=".15s">{{ site.description }}</p>

  </div>
  <div class="col-lg-4 text-center mt-4">
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Trailhead</h5>
        <img src="https://res.cloudinary.com/trailhead/image/upload/public-trailhead/assets/images/ranks/double-star-ranger.png"  alt="Trailhead Rank">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <div class="card-footer text-center">
          <a href="https://www.salesforce.com/trailblazer/gauravchafe" class="card-link">Go to Trailhead</a>
        </div>
      </div>
    </div>
  </div>
</div>